body {
    font-family: sans-serif;
}

p {
    font-size: 10em;
}

.eye { 
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.arm {
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
}

#head {
    width: 30%;
    height: 30%;
    border-radius: 30%;
    border-color: hsl(0, 7%, 9%);
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    position: absolute;
    left: 33%;
    top: 5%;
}

#righteye { background-color: rgb(206, 14, 199);
    
    position: absolute;
    left: 20%;
    top: 20%;
}

#lefteye { background-color: rgb(190, 206, 14);
    
    position: absolute;
    left: 60%;
    top: 20%;
}

#nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: black;
}

#mouth {
    position: absolute;
    width: 65%;
    height: 15%;
    left: 20%;
    top: 70%;
    border-radius: 10%;
    background-color: rgb(243, 85, 85);
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    border-radius: 2%;
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    text-align: center;
    padding-top: 30px;
}

#rightarm {
    position: absolute;
    left: 21%;
}

#leftarm {
    position: absolute;
    right: 3%;
    width: 27%;
    height: 4%;
}